body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#root {
  height: 100vh;
  overflow: auto;
}

.root_container {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
}

.root_container p {
  margin-left: 60px;
  font-size: 20px;
  font-weight: 700;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
}

.first {
  color: #20a8d8;
  margin-right: 15px;
}

.second {
  color: #fb528d;
}

.logo {
    height: 100%;
    max-height: 50px;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
}

.download_link {
    text-transform: capitalize;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  margin: 0 0 0 25px;
  font-size: 20px;
}

.section div {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  border-left: none;
  border-right: none;
  padding: 5px 0;
}